body {
  margin: 0;
  font-family: 'iransansweb', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #021860;
}
.text-justify {
  text-align: justify;
}

@font-face {
  font-family: 'iransansweb';
  src: url('./fonts/IRANSansWeb.ttf');
  font-weight: bold;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
